* {
    margin:0;
    padding:0;
}
body{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    background-color: #FFE6E6;
}
.container{
    padding:2rem;
    border-radius: 10%;
    background-color: aliceblue;
    height:50vh;
    width:20vmax;
}
form{
    margin:5% 0% 1% 0%;
}
form select,input,button{
    width:100%;
    border:none;
    outline:none;
    border-radius: 0.75rem;
}
form input{
    margin-top:2%;
    font-size:0.8rem;
    border:1px solid lightgray;
    height:3rem;
    padding-left: 0.5rem;
}
.dropdown{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5%;
}
.dropdown i{
    font-size: 1.5rem;
    margin-top:1rem;
}
.select-container img{
    max-width:30%;
}
.select-container{
    display: flex;
    width:7rem ;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    border: 1px solid lightgray;
}
.select-container select{
    font-size: 0.8rem;
}
.msg{
    
    margin:10% 0% 10% 0%;
}
form button{
    height:3rem;
    background-color: #af4d98;
    color:#fff;
    font-size: 1.2rem;
    cursor:pointer;
}